<.header>
  New Environment
  <:subtitle>Use this form to manage environment records in your database.</:subtitle>
</.header>

<.environment_form changeset={@changeset} action={~p"/environments"} />

<.back navigate={~p"/environments"}>Back to environments</.back>
