<.header>
  Edit Config key <%= @config_key.id %>
  <:subtitle>Use this form to manage config_key records in your database.</:subtitle>
</.header>

<.config_key_form changeset={@changeset} action={~p"/config_keys/#{@config_key}"} />

<.back navigate={~p"/config_keys"}>Back to config_keys</.back>
