<.header>
  New Config value
  <:subtitle>Use this form to manage config_value records in your database.</:subtitle>
</.header>

<.config_value_form changeset={@changeset} action={~p"/config_values"} />

<.back navigate={~p"/config_values"}>Back to config_values</.back>
